<div class="wrap">
    <div class="logo_side">
        <a href="https://stage-www.kiwipin.com/" class="logo"><img src="./assets/img/logo5.svg" alt=""></a>
        <div id="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <nav id="sidr">
        <a href="https://stage-www.kiwipin.com/#topic_about" id="page_about" class="navLinkIndex"
            data-target="topic_about">關於我們</a>
        <a href="https://stage-www.kiwipin.com/#topic_qa" id="page_qa" class="navLinkIndex"
            data-target="topic_qa">常見問題</a>
        <!-- <a href="news.html">最新消息</a> -->
        <a href="https://stage-www.kiwipin.com/product_list" class="buyPoint">購買點數</a>
        <div class="wallet_link">
            <a href="https://stage-wallet.kiwipin.com/login">KIWI Wallet</a>
        </div>
    </nav>
    <div class="nav_side">
        <div class="wallet_link">
            <a href="https://stage-wallet.kiwipin.com/login">KIWI Wallet</a>
        </div>
        <div class="languageBox">
            <img src="./assets/img/icon_language.svg" alt="" srcset="">
            <span class="lang_text"></span>
            <div class="langListItem">
                <ul id="landList">
                    <li class="active">
                        简中
                    </li>
                    <li>
                        English
                    </li>
                    <li>
                        日本語
                    </li>
                    <li>
                        한국어
                    </li>
                    <li>
                        Tiếng Việt
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>