<!DOCTYPE html>
<html lang="en" translate="no">

<head>
   ta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<title>KIWI WALLET</title>
<script src="<%- cdn %>/assets/js/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="<%- cdn %>/assets/css/reset.css">
<link rel="stylesheet" href="<%- cdn %>/assets/css/bootstrap-grid.css">
<link rel="stylesheet" href="<%- cdn %>/assets/css/select2.min.css" />
<link rel="stylesheet" href="<%- cdn %>/assets/css/wallet.css?v=241008">
<script>
    function initFunction(jsonObj) {
        renderInfo(jsonObj);
    }
</script>
</head>

<body class="walletLogin">
    <div id="apiWallet">
        <div class="container">
            <aside>
                <div class="logo">
                    <img src="<%- cdn %>/assets/img/logo3.svg" alt="">
                </div>
                <div class="tabs">
                    <div class="tab tab1 active">
                        <a href="login">
                            <i class="oo1"></i>
                            <i class="oo2"></i>
                            <h3><span>登入</span></h3>
                        </a>
                        <div class="bg_im"><img src="<%- cdn %>/assets/img/bg_im.svg" alt=""></div>
                    </div>
                    <div class="tab tab2">
                        <a href="register">
                            <i class="oo1"></i>
                            <i class="oo2"></i>
                            <h3><span>註冊</span></h3>
                        </a>
                        <div class="bg_im"><img src="<%- cdn %>/assets/img/bg_im.svg" alt=""></div>
                    </div>
                </div>
            </aside>

            <div class="tab_container">
                <div class="logo">
                    <img src="<%- cdn %>/assets/img/logo1.svg" alt="">
                </div>
                <!-- tab1 op-->
                <div id="tab1" class="tab_content">
                    <form role="form" id="form" action="" method="post" target="_self" class="form-payment"
                        onsubmit="return check_submit();">
                        <div class="form_list reg">
                            <h4>登入</h4>
                            <p>為保障您的權益，KIWI WALLET 需要登入帳號才能使用，<br>
                                請您登入會員，以享有便利的服務</p>
                            <ul>
                                <li class="check_code">
                                    <span>會員信箱</span>
                                    <input type="text" name="U_EMAIL" id="U_EMAIL" placeholder="請輸入Email">
                                    <div class="wrong_msg email_msg" style="display:none">
                                        <img src="<%- cdn %>/assets/img/icon_error.svg" alt=""><small
                                            class="email_msg_text">無效的帳號</small>
                                    </div>
                                </li>
                                <li class="check_code">
                                    <span>密碼</span>
                                    <div class="code_PW">
                                        <input class="input_visible" type="password" name="U_PASSWORD" id="U_PASSWORD"
                                            placeholder="請輸入會員密碼">
                                        <img class="togglePassword" src="<%- cdn %>/assets/img/icon_eye_close.svg" alt="eye">

                                    </div>
                                    <div class="wrong_msg password_msg" style="display:none"><i class="icon"><img
                                                src="<%- cdn %>/assets/img/icon_error.svg"></i><small
                                            class="password_msg_text">密碼錯誤</small>
                                    </div>
                                    <b><a href="forget_password" class="text_gray">忘記密碼？</a></b>
                                </li>
                            </ul>
                            <!--<a href="member_forget_pw.html" class="btn btn_blue">上一步</a>-->
                            <div class="form_bt">
                                <p>還沒有帳號？ <a href="register" class="tab_bt" rel="tab1">去註冊</a></p>
                                <a id="confirm" href="javascript:void(0)" onclick="return check_submit();"
                                    class="btn btn_blue">登入</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- tab1 ed-->
            </div>
        </div>
    </div>
    <!--popup_1-->
    <div id="popup" class="popup" style="display: none;">
        <div class="container">
            <div class="popup_left"></div>
            <div class="popup_wrapper">
                <div class="content">
                    <img id="popup_icon" class="icon popup_icon popup_icon_success" src="<%- cdn %>/assets/img/icon_success.svg"
                        alt="">
                    <img id="popup_icon" class="icon popup_icon popup_icon_error" src="<%- cdn %>/assets/img/icon_error.svg"
                        alt="">
                    <h1 id="popup_title" class="title"></h1>
                    <h1 id="popup_notice" class="notice"></h1>
                </div>
                <a id="popup_a" href="logout" class="confirm btn_pop_close btn btn_blue">確認</a>
            </div>
        </div>
    </div>

    <script>
        // $(function () {
        //     $('base').attr('href', apiUrl);
        // });

        function renderInfo(json) {

            if (json.ErrorMessage !== null && json.ErrorMessage !== undefined) {
                if (json.ErrorMessage.indexOf("帳號") != -1) {
                    $('.email_msg_text').text(json.ErrorMessage);
                    $('.email_msg').show();
                } else {
                    $('.password_msg_text').text(json.ErrorMessage);
                    $('.password_msg').show();
                }

                //$("#myModal").modal();
            }

            Object.keys(json).forEach(function (k) {
                var eleName = '#' + k;
                //console.log(eleName + ' - ' + json[k]);
                if ($(eleName).length <= 0) {
                    appendElement_Input('#form', k, json[k]);
                } else {
                    $(eleName).val(json[k]);
                }
            });

        }

        //密碼眼睛
        let pageBaseUrl = '';
        $('.togglePassword').on('click', function () {
            const passwordField = $(this).siblings('input');
            const isPasswordVisible = passwordField.attr('type') === 'text';
            passwordField.attr('type', isPasswordVisible ? 'password' : 'text');

            const newIconSrc = isPasswordVisible ? pageBaseUrl + '/assets/img/icon_eye_close.svg' : pageBaseUrl + '/assets/img/icon_eye_open.svg';
            $(this).attr('src', newIconSrc);
        });

        // 監聽驗證 op====================
        // 驗證函數 - 是否空白
        function validateEmptyField(selector, messageSelector, message) {
            const value = $(selector).val();
            if (value === "") {
                $(messageSelector).text(message).parent().show(); // 顯示父層 .password_msg
                $(selector).addClass('input_error');
                return false;
            } else {
                $(messageSelector).parent().hide();
                $(selector).removeClass('input_error');
                return true;
            }
        }
        // 驗證函數 - 是否符合格式 (Email)
        function validateEmailFormat(selector, messageSelector) {
            const value = $(selector).val();
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // 簡單的 Email 格式檢查正則表達式
            if (!emailPattern.test(value)) {
                $(messageSelector).text("請輸入有效的 Email 格式").parent().show();
                $(selector).addClass('input_error');
                return false;
            } else {
                $(messageSelector).parent().hide();
                $(selector).removeClass('input_error');
                return true;
            }
        }
        // 驗證函數 - 是否符合格式(Password)
        function validatePasswordFormat(selector, messageSelector) {
            const value = $(selector).val();
            const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
            if (!passwordPattern.test(value)) {
                $(messageSelector).text("密碼須為英數混合8字元以上").parent().show();
                $(selector).addClass('input_error');
                return false;
            } else {
                $(messageSelector).parent().hide();
                $(selector).removeClass('input_error');
                return true;
            }
        }


        // 即時監聽驗證
        // 會員帳號
        $('#U_EMAIL').on('input', function () {
            if (validateEmptyField('#U_EMAIL', '.email_msg_text', "請填寫Email"))
                validateEmailFormat('#U_EMAIL', '.email_msg_text');
        });
        // 登入密碼
        $('#U_PASSWORD').on('input', function () {
            // 登入密碼的格式驗證
            if (validateEmptyField('#U_PASSWORD', '.password_msg_text', "請填寫登入密碼")) {
                validatePasswordFormat('#U_PASSWORD', '.password_msg_text');
            }
        });

        // 提交的驗證
        function check_PASSWORD() {
            let isValid = true;
            if (!validateEmptyField('#U_EMAIL', '.email_msg_text', "請填寫EMail")) isValid = false;
            if (isValid && !validateEmailFormat('#U_EMAIL', '.email_msg_text')) isValid = false;
            if (!validateEmptyField('#U_PASSWORD', '.password_msg_text', "請填寫登入密碼")) isValid = false;
            if (isValid && !validatePasswordFormat('#U_PASSWORD', '.password_msg_text')) isValid = false;

            return isValid;
        }



        function appendElement_Input(ele, name, value) {
            var textHtml = '<input type="hidden" name="' + name + '"';
            textHtml += ' value="' + value + '"';
            textHtml += '/>';
            $(ele).append(textHtml);
        }

        function preventScroll(e) {
            e.preventDefault(); // 禁止滾動
        }

        function check_submit() {
            if (!check_PASSWORD()) {
                return false;
            }

            document.getElementById('form').submit();
            //return true;
        }

        //   function IsEmail(email) {
        //     var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        //     if(!regex.test(email)) {
        //       return false;
        //     }else{
        //     return true;
        //     }
        //   }
    </script>

    <script>
        initFunction({ "Tpye": "LOGIN", "ReturnURL": "home" });
    </script>
</body>

</html>