<!DOCTYPE html>
<html lang="en" translate="no">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>KIWI WALLET</title>
    <script src="<%- cdn %>/assets/js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="<%- cdn %>/assets/css/reset.css">
    <link rel="stylesheet" href="<%- cdn %>/assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="<%- cdn %>/assets/css/select2.min.css" />
    <link rel="stylesheet" href="<%- cdn %>/assets/css/wallet.css?v=241008">
    <script>
        function initFunction(jsonObj) {
            renderInfo(jsonObj);
        }
    </script>
</head>

<body class="walletBody">
    <div id="apiWallet">
        <div class="container">
            <aside>
                <div class="logo">
                    <img src="<%- cdn %>/assets/img/logo3.svg" alt="">
                </div>
                <div class="tabs tab_nnn">
                    <div class="tab tab1">
                        <a href="home">
                            <i class="oo1"></i>
                            <i class="oo2"></i>
                            <span class="imgbox tab_summery">
                                <img src="<%- cdn %>/assets/img/icon_tab_summery.svg" alt="">
                            </span>
                            <h3><span>總覽</span></h3>
                        </a>
                    </div>
                    <div class="tab tab2">
                        <a href="history">
                            <i class="oo1"></i>
                            <i class="oo2"></i>
                            <span class="imgbox tab_history">
                                <img src="<%- cdn %>/assets/img/icon_tab_history.svg" alt="">
                            </span>
                            <h3><span>歷史交易</span></h3>
                        </a>
                    </div>
                    <div class="tab tab3 active">
                        <a href="change_pay_password">
                            <i class="oo1"></i>
                            <i class="oo2"></i>
                            <span class="imgbox tab_lock">
                                <img src="<%- cdn %>/assets/img/icon_tab_lock.svg" alt="">
                            </span>
                            <h3><span>交易設定</span></h3>
                        </a>
                    </div>
                    <div class="tab tab4">
                        <a href="change_password">
                            <i class="oo1"></i>
                            <i class="oo2"></i>
                            <span class="imgbox tab_member">
                                <img src="<%- cdn %>/assets/img/icon_tab_member.svg" alt="">
                            </span>
                            <h3><span>帳戶設定</span></h3>
                        </a>
                    </div>
                </div>
            </aside>

            <div class="tab_container">
                <div class="loginBar">
                    <div id="langSelect" class="languageBox">
                        <img src="<%- cdn %>/assets/img/icon_language.svg" alt="" srcset="">
                        <span class="lang_text">語言</span>
                        <ul id="langListItem" class="langListItem">
                            <ul id="landList">
                                <li class="active">
                                    简中
                                </li>
                                <li>
                                    English
                                </li>
                                <li>
                                    日本語
                                </li>
                                <li>
                                    한국어
                                </li>
                                <li>
                                    Tiếng Việt
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <div>
                        <span class="imgbox">
                            <img src="<%- cdn %>/assets/img/icon_member.svg" alt="">
                        </span>
                        <span id="userID">abc12345@gmail.com</span>
                    </div>
                </div>
                <div class="scroll_bg">
                    <!-- tab1 op-->
                    <div id="tab1" class="tab_content">
                        <form role="form" id="form" action="" method="post" target="_self" class="form-payment"
                            onsubmit="return check_submit();">
                            <div class="form_list reg">
                                <h4>變更交易密碼</h4>
                                <ul>
                                    <li class="check_code">
                                        <span>原交易密碼</span>
                                        <div class="code_PW">
                                            <input class="input_original_visible" type="password" name="U_PAY_PASSWORD"
                                                inputmode="numeric" id="U_PAY_PASSWORD" placeholder="請輸入原交易密碼">
                                            <img class="togglePassword" src="<%- cdn %>/assets/img/icon_eye_close.svg" alt="eye">
                                        </div>

                                        <div class="wrong_msg pay_password_msg" style="display:none"><i
                                                class="icon"><img src="<%- cdn %>/assets/img/icon_error.svg"></i><small
                                                class="pay_password_msg_text"></small></div>
                                        <b>
                                            <a id="SEND_EMAIL" href="javascript:void(0)" onclick="send_EMAIL()"
                                                class="text_gray">忘記密碼？</a>
                                        </b>
                                        <span class="line"></span>
                                    </li>
                                    <li class="check_code">
                                        <span>新密碼</span>
                                        <div class="code_PW">
                                            <input class="input_visible" type="password" name="U_NEW_PAY_PASSWORD"
                                                inputmode="numeric" id="U_NEW_PAY_PASSWORD" placeholder="請輸入交易新密碼">
                                            <img class="togglePassword" src="<%- cdn %>/assets/img/icon_eye_close.svg" alt="eye">
                                        </div>
                                        <div class="wrong_msg new_pay_password_msg" style="display:none"><i
                                                class="icon"><img src="<%- cdn %>/assets/img/icon_error.svg"></i><small
                                                class="new_pay_password_msg_text">請選用安全強度較高的密碼，建議您混用字母、數字和符號。</small>
                                        </div>
                                    </li>
                                    <li class="check_code">
                                        <span>確認新密碼</span>
                                        <div class="code_PW">
                                            <input class="input_visible_check" type="password"
                                                name="U_NEW_PAY_PASSWORD_CHECK" inputmode="numeric"
                                                id="U_NEW_PAY_PASSWORD_CHECK" placeholder="請再次輸入交易新密碼">
                                            <img class="togglePassword" src="<%- cdn %>/assets/img/icon_eye_close.svg" alt="eye">
                                        </div>
                                        <div class="wrong_msg new_password_check_msg" style="display:none"><i
                                                class="icon"><img src="<%- cdn %>/assets/img/icon_error.svg"></i><small
                                                class="new_pay_password_check_msg_text">密碼不符</small></div>
                                    </li>
                                </ul>
                            </div>
                            <!--<a href="member_forget_pw.html" class="btn btn_blue">上一步</a>-->
                            <div class="form_bt">
                                <a href="javascript:void(0)" class="btn btn_blue"
                                    onclick="return check_submit();">變更</a>
                            </div>
                        </form>
                    </div>
                    <!-- tab1 ed-->
                </div>
            </div>
            <a href="mailto:service@kiwipin.com.tw" class="email_info">service@kiwipin.com.tw</a>
        </div>
    </div>
    <!--popup_1-->
    <div id="popup" class="popup" style="display: none;">
        <div class="container">
            <div class="popup_left"></div>
            <div class="popup_wrapper">
                <div class="content">
                    <img class="icon popup_icon popup_icon_success" src="<%- cdn %>/assets/img/icon_success.svg" alt="">
                    <!-- <img class="icon popup_icon popup_icon_error" src="<%- cdn %>/assets/img/icon_error.svg" alt=""> -->
                    <h1 id="popup_title" class="title">修改密碼成功！</h1>
                    <h1 id="popup_notice" class="notice">新密碼已發送至Email，請牢記您的密碼，並重新登入</h1>
                </div>
                <a id="popup_a" href="javascript:void(0)" onclick="$('#popup').hide();"
                    class="btn confirm btn_pop_close">確認</a>
            </div>
        </div>
    </div>

    <script>
        // $(function () {
        //     $('base').attr('href', apiUrl);
        // });

        function renderInfo(json) {
            const memberID = json.U_EMAIL;

            if (json.MESSAGE_TYPE !== null && json.MESSAGE_TYPE !== undefined) {
                $(".popup_icon").hide();
                if (json.MESSAGE_TYPE === "S") {
                    $(".popup_icon_success").show();
                    $("#popup_title").text("修改密碼成功!");
                    $("#popup_a").attr("href", "logout");
                } else {
                    $(".popup_icon_error").show();
                    $("#popup_title").text("發生錯誤了");
                    $("#popup_a").attr("href", "javascript:void(0)");
                }
                $("#popup_notice").text(json.MESSAGE);
                $("#popup").show();
            }

            Object.keys(json).forEach(function (k) {
                var eleName = '#' + k;
                if ($(eleName).length <= 0) {
                    appendElement_Input('#form', k, json[k]);
                } else {
                    $(eleName).val(json[k]);
                }
            });

            window.send_EMAIL = function () {
                console.log(memberID);
                $(".popup_icon_success").show();
                $("#popup_title").text("發送新密碼成功！");
                $("#popup_notice").text(
                    "新交易密碼已發送至 " + (memberID ? memberID : "無效的電子郵件地址")
                );
                $("#popup").show();
                return false;
            };
        }


        //密碼眼睛
        $('.togglePassword').on('click', function () {
            const passwordField = $(this).siblings('input');
            const isPasswordVisible = passwordField.attr('type') === 'text';
            passwordField.attr('type', isPasswordVisible ? 'password' : 'text');

            const newIconSrc = isPasswordVisible ? pageBaseUrl + '/assets/img/icon_eye_close.svg' : pageBaseUrl + '/assets/img/icon_eye_open.svg';
            $(this).attr('src', newIconSrc);
        });

        function appendElement_Input(ele, name, value) {
            var textHtml = '<input type="hidden" name="' + name + '"';
            textHtml += ' value="' + value + '"';
            textHtml += '/>';
            $(ele).append(textHtml);
        }


        // function handleApiResponse(json) {
        //     $(".popup_icon").hide();
        //     //驗證碼發送通知
        //     if (json.SendResult === "Success") {
        //         $(".popup_icon_success").show();
        //         $("#popup_title").text("驗證碼發送成功");
        //         $("#popup_notice").text("驗證碼已發送到：" + memberID);
        //         // $('#U_EMAIL').attr('disabled', true);
        //     } else {
        //         $(".popup_icon_error").show();
        //         $("#popup_title").text("發生錯誤了!");
        //     }
        //     $('#popup_notice').text(json.SendResult_Message);
        //     $("#popup").show();
        // }


        // 監聽驗證 op====================
        // 驗證函數 - 是否空白
        function validateEmptyField(selector, messageSelector, message) {
            const value = $(selector).val();
            if (value === "") {
                $(messageSelector).text(message).parent().show();
                $(selector).addClass('input_error');
                return false;
            } else {
                $(messageSelector).parent().hide();
                $(selector).removeClass('input_error');
                return true;
            }
        }

        // 驗證函數 - 是否符合格式(Number)
        function validateNumberFormat(selector, messageSelector) {
            const value = $(selector).val();
            const sixDigitPattern = /^\d{6}$/;
            if (!sixDigitPattern.test(value)) {
                $(messageSelector).text("請輸入六位數字").parent().show();
                $(selector).addClass('input_error');
                return false;
            } else {
                $(messageSelector).parent().hide();
                $(selector).removeClass('input_error');
                return true;
            }
        }

        // 驗證函數 - 確認新密碼是否跟新密碼相同
        function validatePasswordMatch(selector1, selector2, messageSelector) {
            const value1 = $(selector1).val();
            const value2 = $(selector2).val();
            if (value1 !== value2) {
                $(messageSelector).text("二次輸入新密碼不一致").parent().show();
                $(selector2).addClass('input_error');
                return false;
            } else {
                $(messageSelector).parent().hide();
                $(selector2).removeClass('input_error');
                return true;
            }
        }

        // 即時監聽驗證
        // 原密碼
        $('#U_PAY_PASSWORD').on('input', function () {
            validateEmptyField('#U_PAY_PASSWORD', '.pay_password_msg_text', "請填寫原登入密碼");
        });
        // 新密碼
        $('#U_NEW_PAY_PASSWORD').on('input', function () {
            // #U_PAY_PASSWORD 是否填寫
            if (!validateEmptyField('#U_PAY_PASSWORD', '.pay_password_msg_text', "請填寫原登入密碼")) {
            }
            // #U_NEW_PAY_PASSWORD_CHECK 是否一樣
            // if (validateEmptyField('#U_NEW_PAY_PASSWORD_CHECK', '.new_pay_password_check_msg_text', "請再次填寫新登入密碼")) {
            //     validatePasswordMatch('#U_NEW_PAY_PASSWORD', '#U_NEW_PAY_PASSWORD_CHECK', '.new_pay_password_check_msg_text');
            // }

            // 新密碼的格式驗證
            if (validateEmptyField('#U_NEW_PAY_PASSWORD', '.new_pay_password_msg_text', "請填寫新登入密碼")) {
                validateNumberFormat('#U_NEW_PAY_PASSWORD', '.new_pay_password_msg_text');
            }
        });

        // 確認新密碼
        $('#U_NEW_PAY_PASSWORD_CHECK').on('input', function () {
            if (validateEmptyField('#U_NEW_PAY_PASSWORD_CHECK', '.new_pay_password_check_msg_text', "請再次填寫新登入密碼")) {
                validatePasswordMatch('#U_NEW_PAY_PASSWORD', '#U_NEW_PAY_PASSWORD_CHECK', '.new_pay_password_check_msg_text');
            }
        });

        // 監聽驗證 ed====================

        // 提交的驗證
        function check_PASSWORD() {
            let isValid = true;

            if (!validateEmptyField('#U_PAY_PASSWORD', '.pay_password_msg_text', "請填寫原交易密碼")) isValid = false;
            if (!validateEmptyField('#U_NEW_PAY_PASSWORD', '.new_pay_password_msg_text', "請填寫新交易密碼")) isValid = false;
            if (isValid && !validatePasswordFormat('#U_NEW_PAY_PASSWORD', '.new_pay_password_msg_text')) isValid = false;
            if (!validateEmptyField('#U_NEW_PAY_PASSWORD_CHECK', '.new_pay_password_check_msg_text', "請再次填寫新交易密碼")) isValid = false;
            if (isValid && !validatePasswordMatch('#U_NEW_PAY_PASSWORD', '#U_NEW_PAY_PASSWORD_CHECK', '.new_pay_password_check_msg_text')) isValid = false;

            return isValid;
        }

        //提交
        function check_submit() {
            if (!check_PASSWORD()) {
                return false;
            }
            document.getElementById('form').submit();
            //return true;
        }
    </script>

    <script>
        //資料需加上U_EMAIL
        initFunction({ "Tpye": "CHANGE_PASSWORD", "U_EMAIL": "yourweb210@gmail.com" });
        // initFunction({ "Tpye": "FORGET_PASSWORD", "MESSAGE": "請牢記您的新交易密碼", "MESSAGE_TYPE": "S", "U_EMAIL": "yourweb210@gmail.com", "U_VERIFY_CODE": "935842" });
        // initFunction({ "Tpye": "CHANGE_PASSWORD", "MESSAGE": "請牢記您的帳戶新密碼，並重新登入", "MESSAGE_TYPE": "S" });
        //initFunction({"Tpye":"CHANGE_PASSWORD","MESSAGE":"原交易密碼錯誤!","MESSAGE_TYPE":"E"});
    </script>
</body>

</html>