<footer>
    <i class="logo"><img src="<%- cdn %>/assets/img/logo5.svg" alt=""></i>
    <div class="foot_bt">
        <div><a href="privacy_policy">・Privacy Policy</a><a href="terms_of_service">・Terms Of Service</a>
        </div>

        <div class="copyright"><span>© 2024 KIWIPIN All Copyright</span></div>
        <div><a href="mailto:service@kiwipin.com.tw">・service@kiwipin.com.tw</a></div>
    </div>
</footer>